body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
p,
a,
image {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
}

.container {
  width: 1226px;
  margin: 0 auto;
}

.topbar {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  background-color: #333;
}

.topbar .topbar-left {
  float: left;
  width: 950px;
  height: 40px;
}

.topbar .topbar-left a::after {
  content: "|";
  color: #b0b0b0;
  margin: 0 8px;
}

.topbar a {
  float: left;
  color: #b0b0b0;
}

.topbar a.active {
  color: #fff;
}

.topbar a:last-child::after {
  content: "";
}

.topbar .topbar-right {
  float: left;
  width: 155px;
  height: 40px;
}

.topbar .topbar-right li {
  float: left;
}

.topbar .topbar-right a::after {
  content: "|";
  color: #b0b0b0;
  margin: 0 8px;
}

.topbar .last-1 {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  background-color: #424242;
}

.topbar .last-1 a {
  margin-left: 5px;
  padding: 2px 6px;
}

.topbar .last-1:hover {
  color: #ff6700;
}

.topbar .last-1 .gwc {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 40px;
  width: 316px;
  height: 100px;
  line-height: 100px;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 10px #aaa;
  display: none;
}

.topbar-list {
  height: 100px;
  position: relative;
}

.topbar-list .list-left {
  float: left;
  width: 55px;
  height: 55px;
  margin: 22px 0;
  background-color: #ff6700;
  background-image: url(../images/mi-logo.png);
}

.topbar-list .list-center1 {
  float: left;
  margin-left: 65px;
}

.topbar-list .list-center1 a {
  margin: 0px 9px;
  color: #333;
  line-height: 100px;
}

.topbar-list .list-center2 {
  float: left;
}

.topbar-list .list-center2 a {
  margin: 0px 9px;
  color: #333;
  line-height: 100px;
}

.topbar-list .list-center {
  float: left;
  display: inline-block;
}

.topbar-list .list-center a {
  margin: 0px 7px;
  color: #333;
  line-height: 100px;
}

.topbar-list input {
  position: absolute;
  top: 22px;
  right: 55px;
  width: 235px;
  height: 53px;
  padding-left: 8px;
  border: 1px solid #e0e0e0;
  outline: none;
}

.topbar-list input.active {
  border: 1px solid #ff6700;
}

.topbar-list .search-content {
  position: absolute;
  top: 78px;
  right: 55px;
  display: none;
  width: 243px;
  height: 210px;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #ff6700;
}

.topbar-list .search-content li {
  width: 235px;
  height: 30px;
  line-height: 30px;
}

.topbar-list .search-content li span:nth-child(1) {
  float: left;
  color: #8a758a;
  font-size: 12px;
  text-indent: 1em;
}

.topbar-list .search-content li span:nth-child(2) {
  float: right;
  color: #b0b0b0;
  font-size: 12px;
  margin-right: 10px;
}

.topbar-list i {
  position: absolute;
  right: 0;
  top: 22px;
  display: inline-block;
  width: 55px;
  height: 55px;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.topbar-list i.active {
  border-right: 1px solid #ff6700;
  border-top: 1px solid #ff6700;
  border-bottom: 1px solid #ff6700;
}

.topbar-list .list-content {
  position: absolute;
  right: 62px;
  top: 38px;
}

.topbar-list .list-content a {
  color: #757575;
  background-color: #eee;
  font-size: 12px;
}

.topbar-list .list-content a:hover {
  color: #fff;
  background-color: #ff6700;
}

.topbar-list .sousuo i:hover {
  color: #fff;
  background-color: #ff6700;
}

.header {
  position: relative;
  background-color: #fff;
}

.hide {
  display: none;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  width: 100%;
  height: 230px;
  background-color: #fff;
  z-index: 18;
}

.hide ul {
  display: none;
  width: 1226px;
  height: 230px;
}

.hide ul li {
  position: relative;
  float: left;
  width: 204px;
  height: 230px;
}

.hide ul li .new {
  margin-left: 70px;
  width: 65px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ff6700;
}

.hide ul li .new a {
  color: #ff6700;
}

.hide ul li .new-image {
  position: absolute;
  top: 35px;
  width: 204px;
  height: 110px;
  border-right: 1px solid #ddd;
}

.hide ul li .new-image img {
  position: absolute;
  left: 24px;
  width: 160px;
  height: 110px;
}

.hide ul li:last-child .new-image {
  border: 0px;
}

.hide ul li .new-type {
  position: absolute;
  top: 155px;
  width: 204px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.hide ul li .new-type a {
  font-size: 12px;
  color: #757575;
}

.hide ul li p {
  position: absolute;
  top: 180px;
  left: 83px;
  color: #ff6700;
  font-size: 12px;
}

.carousel {
  position: absolute;
  height: 460px;
}

.carousel .carousel-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
  height: 420px;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #ff6700;
  z-index: 120;
}

.carousel .carousel-menu a {
  font-size: 14px;
  color: #727272;
}

.carousel .carousel-menu span {
  float: right;
}

.carousel .carousel-menu li a {
  color: #333;
}

.carousel .carousel-menu li a span {
  float: right;
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
}

.carousel .carousel-menu > li {
  padding: 0px 28px;
  height: 42px;
  line-height: 42px;
}

.carousel .carousel-menu > li:hover {
  background-color: #ff7916;
}

.carousel .box {
  display: none;
  position: absolute;
  top: 1px;
  left: 236px;
  width: 992px;
  height: 460px;
  z-index: 121;
}

.carousel .box ul {
  float: left;
  width: 248px;
  height: 460px;
  background-color: #fff;
}

.carousel .box ul::after {
  content: "";
  clear: both;
}

.carousel .box ul li {
  position: relative;
  width: 248px;
  height: 76px;
  line-height: 76px;
}

.carousel .box ul li a:first-child {
  position: absolute;
  left: 20px;
  font-size: 14px;
  color: #333;
}

.carousel .box ul li a:first-child:hover {
  color: #ff6700;
}

.carousel .box ul li a:nth-child(2) {
  position: absolute;
  right: 10px;
  top: 26px;
  display: inline-block;
  width: 58px;
  height: 22px;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  color: #ff6700;
  border: 1px solid #ff6700;
}

.carousel .box ul li a:nth-child(2):hover {
  color: #fff;
  background-color: #ff6700;
}

.carousel .box ul li a img {
  vertical-align: middle;
}

.carousel .box ul li a span {
  vertical-align: middle;
  margin-left: 10px;
}

.fix {
  height: 65px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  z-index: 800;
}

.fix.active {
  display: none;
  position: fixed;
  top: 0px;
}

.fix .fl {
  float: left;
  width: 90px;
  height: 65px;
  line-height: 65px;
  text-align: center;
}

.fix .fl a {
  font-size: 18px;
  color: #212121;
}

.fix ul {
  float: right;
  width: 400px;
  height: 65px;
  text-align: center;
  line-height: 65px;
}

.fix ul li {
  float: left;
  font-size: 0;
}

.fix ul li:nth-last-child(1) a {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  background-color: #ff6700;
  vertical-align: middle;
  color: #fff;
}

.fix ul lii:nth-last-child(1) a::after,
.fix ul li:nth-last-child(2) a::after {
  content: "";
}

.fix ul li a {
  color: #616161;
  font-size: 14px;
  margin-right: 6px;
}

.fix ul li a:hover {
  color: #ff6700;
}

.fix ul li a.active {
  color: #ff6700;
}

.fix ul li a::after {
  content: "|";
  margin-left: 7px;
  color: #e5e5e5;
}

.vedio {
  position: relative;
  width: 100%;
  height: 759px;
  text-align: center;
  overflow: hidden;
}

.vedio .container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -613px;
  height: 760px;
}

.vedio .container .phone {
  position: absolute;
  bottom: -400px;
  left: 425px;
  width: 471px;
  height: 648px;
  background-image: url(../images/143.png);
  background-size: 100%;
}

.vedio .title-center {
  position: absolute;
  top: 600px;
  left: 24px;
  width: 1178px;
  height: 115px;
  background: url(../images/144.png) center center;
  background-size: contain;
}

.vedio .title-top {
  position: absolute;
  top: 700px;
  left: 24px;
  width: 228px;
  height: 39px;
  background: url(../images/145.png) center center;
  background-size: cover;
}

.vedio p {
  font-size: 18px;
  color: #fff;
}

.vedio .el {
  position: absolute;
  top: 700px;
  left: 24px;
}

.vedio .er {
  position: absolute;
  top: 700px;
  right: 24px;
}

.name {
  height: 362px;
  width: 100%;
  background-image: url(../images/146.jpg);
  background-size: 100%;
}

.name .container {
  height: 362px;
}

.name .container .name-1 {
  position: relative;
  top: 68px;
  float: left;
  width: 358px;
  height: 207px;
  border-right: 2px solid #272727;
}

.name .container .name-1:last-child {
  border-right: 0px;
}

.name .container .name-1:first-child {
  margin-left: 56px;
}

.name-1 span {
  position: absolute;
  top: 100px;
  display: block;
  width: 358px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}

.name-1 .p1 {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 358px;
  height: 31px;
  color: #fff;
  line-height: 31px;
  text-align: center;
  font-size: 16px;
}

.name-1 .p2 {
  position: absolute;
  left: 52px;
  bottom: -10px;
  width: 268px;
  height: 44px;
  color: #878384;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
}

.name-1 .img {
  position: absolute;
  bottom: -50px;
  left: 81px;
  width: 196px;
  height: 47px;
  text-align: center;
  background-image: url(../images/147.png);
  background-size: cover;
  background-position: 0px -16px;
}

.leijun {
  position: relative;
  width: 100%;
  height: 760px;
  background: url(../images/147.jpg);
  background-size: cover;
}

.leijun .container {
  position: relative;
  height: 760px;
}

.leijun p {
  position: absolute;
  top: 495px;
  left: 405px;
  width: 400px;
  height: 86px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  font-size: 36px;
}

.leijun span {
  position: absolute;
  top: 614px;
  left: 405px;
  width: 400px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.leijun a {
  position: absolute;
  top: 665px;
  left: 580px;
  display: block;
}

.leijun img {
  width: 45px;
  height: 55px;
}

.screen {
  width: 100%;
  height: 975px;
  background: url(../images/149.jpg) center center;
  background-size: cover;
}

.screen.active {
  background: url(../images/151.jpg) center center;
  background-size: cover;
}

.screen .container {
  position: relative;
}

.screen p {
  position: absolute;
  top: 304px;
  left: 505px;
  width: 215px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 24px;
}

.screen span {
  position: absolute;
  top: 344px;
  left: 231px;
  width: 764px;
  line-height: 84px;
  text-align: center;
  height: 84px;
  color: #fff;
  font-size: 70px;
}

.screen .screen-1 {
  position: absolute;
  top: 480px;
  left: 337px;
  width: 552px;
  height: 44px;
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
}

.saoma {
  margin-top: 45px;
  width: 1226px;
  height: 100px;
}

.saoma .saoma-l {
  position: relative;
  float: left;
  margin-left: 36px;
  margin-right: 60px;
  width: 500px;
  height: 100px;
}

.saoma .saoma-l img {
  width: 100px;
  height: 100px;
}

.saoma .saoma-l p {
  position: absolute;
  top: 25px;
  left: 137px;
  width: 366px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  font-size: 28px;
}

.saoma .saoma-l p:last-child {
  position: absolute;
  top: 70px;
  left: 137px;
  width: 366px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.saoma .saoma-l span {
  color: red;
}

.end {
  margin-top: 70px;
  height: 440px;
  background-color: #fff;
}

.end .end-1 {
  width: 1226px;
  font-size: 0;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #e0e0e0;
}

.end .end-1 a {
  font-size: 16px;
  color: #616161;
  margin-left: 58px;
  vertical-align: middle;
}

.end .end-1 a i {
  font-size: 21px;
  vertical-align: middle;
}

.end .end-1 a::after {
  content: "|";
  color: #ddd;
  font-size: 20px;
  margin-left: 58px;
}

.end .end-1 a:last-child::after {
  content: "";
}

.end .end-1 a:hover {
  color: #ff6700;
}

.end .end-2 {
  width: 1226px;
  height: 160px;
}

.end .end-2 .e2l {
  float: left;
  width: 965px;
  height: 160px;
}

.end .end-2 .e2l a:hover {
  color: #ff6700;
}

.end .end-2 .e2l ul {
  height: 60px;
  width: 976px;
}

.end .end-2 .e2l ul li {
  float: left;
  height: 20px;
  line-height: 20px;
  width: 157px;
}

.end .end-2 .e2l ul li p {
  height: 20px;
  width: 157px;
  font-size: 14px;
  text-align: left;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 0;
}

.end .end-2 .e2l ol {
  height: 72px;
  margin-top: 30px;
}

.end .end-2 .e2l ol li {
  float: left;
  height: 25px;
  line-height: 25px;
  width: 157px;
}

.end .end-2 .e2l ol li a {
  font-size: 12px;
  color: #757575;
}

.end .end-2 .e2r {
  position: relative;
  float: right;
  width: 260px;
  height: 114px;
  border-left: 1px solid #e0e0e0;
  margin-top: 40px;
}

.end .end-2 .e2r p {
  position: absolute;
  top: 0;
  left: 58px;
  width: 140px;
  height: 24px;
  color: #ff6700;
  font-size: 20px;
  margin-top: 0;
  margin-top: 0;
}

.end .end-2 .e2r span {
  position: absolute;
  display: block;
  left: 65px;
  top: 30px;
  font-size: 12px;
  color: #757575;
}

.end .end-2 .e2r .s1 {
  position: absolute;
  top: 50px;
  left: 90px;
}

.end .end-2 .e2r a {
  position: absolute;
  bottom: 0;
  left: 65px;
  font-size: 12px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #ff6700;
  border: 1px solid #ff6700;
}

.end .end-2 .e2r a:hover {
  color: #fff;
  background-color: #ff6700;
}

.end .end-2 .e2r a i {
  font-size: 16px;
  vertical-align: middle;
}

.end .end-3 {
  margin-top: 65px;
  width: 1226px;
  height: 55px;
}

.end .end-3 img {
  float: left;
  width: 55px;
  height: 55px;
}

.end .end-3 .content {
  float: left;
  width: 780px;
  height: 55px;
}

.end .end-3 .content .content-1 {
  font-size: 0;
  margin-left: 12px;
}

.end .end-3 .content .content-1 a {
  font-size: 12px;
  color: #757575;
}

.end .end-3 .content .content-1 a::after {
  content: "|";
  margin: 0 5px;
}

.end .end-3 .content .content-1 a:last-child::after {
  content: "";
}

.end .end-3 .content p {
  display: block;
  width: 780px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-indent: 1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.end .end-3 .content p a {
  color: #b0b0b0;
}

.end .end-3 .content p a:hover {
  color: #ff6700;
}

.end .end-3 .content-right {
  float: right;
  width: 335px;
  height: 55px;
  line-height: 55px;
}

.end .end-3 .content-right a {
  display: inline-block;
  width: 79px;
  height: 28px;
}

.end .end-3 .content-right a:last-child {
  margin-right: 0px;
}

.end .end-3 .content-right img {
  width: 79px;
  height: 28px;
}
